$cl-primary: #1061ff;
$cl-white: #ffffff;
$cl-black12: rgba(0, 0, 0, 0.12);
$cl-black54: rgba(0, 0, 0, 0.54);
$cl-black87: rgba(0, 0, 0, 0.87);

$button-width: 138px;
$button-height: 36px;

* {
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu {
    position: absolute;
    left: 100px;
    top: 100px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    .button {
        position: absolute;
        width: $button-width;
        height: $button-height;
        cursor: pointer;
        background-color: $cl-primary;
        border: 1px solid rgba(0, 0, 0, 0.06);
        box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.13);
        border-radius: 3px;
        text-align: center;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        color: $cl-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-box {
        animation: fadeIn ease 150ms;
        position: absolute;
        top: $button-height + 1px;
        padding-bottom: 8px;
        width: 225px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14),
            0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 2px;

        .label {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: $cl-black54;
            margin: 16px;
        }

        .divider {
            background: $cl-black12;
            height: 1px;
            margin: 8px 0;
            width: 100%;
        }
        .item {
            position: relative;
            display: flex;
            flex-direction: row;
            height: 48px;
            transition-duration: 80ms;

            &:hover {
                cursor: pointer;
                background: #91919122;
            }

            &:active {
                background: #91919155;
            }

            .icon {
                margin-left: 17px;
                width: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-svg {
                    width: 22px;
                    height: 22px;
                }
            }
            .text {
                margin-left: 17px;
                flex: 1;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                color: $cl-black87;
            }
        }
    }
}
